<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/main.css" type="text/css"/>
  <title>TinyApp</title>
      <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <h1>List of URLs</h1>
    <ul>
      <li><a href="/urls/new">Create a New Short Link</a></li>
    </ul>
    <br>

    <ol>
    <% for (var key in urls) { %>
      <% if (urls.hasOwnProperty(key)) { %>
      <li>
          <a href="/u/<%= key %>"><%= key %></a> ===> <%= urls[key]['url']%>
          <form id='delete_btn' method="POST" action="/urls/<%=key%>/delete"> <button>Delete</button></form>

          <form id="edit_btn" method="GET" action="/urls/<%=key%>">
          <input type="submit" id="<%=key%>" name="<%=key%>" value="Edit"></form>

          <br><br>
      </li>
      <% } %>
    <% } %>
  </ol>
</body>
</html>
