<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>
  <h1> List of the URLs and shortened forms</h1>
  <ul>
    <li>
      <a href="/urls">URL home Page</a>
    </li>
    <li>
      <a href="/urls/new">add new URL address</a>
    </li>
  </ul>
  <h1>List of URLs</h1>
  <ol>
    <% for (var key in urls) { %>
      <% if (urls.hasOwnProperty(key)) { %>
        <li>
          <a href="/u/<%= key %>"><%= key %></a> ---> <%= urls[key]['url']%>
          <form method="POST" action="/urls/<%= key %>/delete"> <button>Delete</button></form>
          <a href="/urls/<%= key %>">Edit</a>
          <br><br>
        </li>
      <% } %>
    <% } %>
  </ol>
</body>
</html>
